@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
 margin: 0;
 border: 0;
 padding: 0; 
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.header-bar {
  background-color:white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  justify-content: space-between;
  width: 100%;
}

.Logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color:slateblue;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.headline-1 {
  background-image: url("./Images/header-shapes\ mobile.png");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 114px 24px;
  gap: 12px;
  width: 100%;
}

.glad-txt {
  font-family: "Poppins", sans-serif;
  width: 300px;
  min-height: 150px;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items:center;
  color: #172b4d;
  line-height: 52px;
}

.main-headline-txt p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 28px;
  color: #344563;
  width: 327px;
}

.connect .small-txt {
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color:  #7f8cff;
  font-size: 16px;
  line-height: 24px;
  border: none;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.media-Images ul {
  list-style: none;
  flex-direction: row;
  display: flex;
  width: 200px;
  padding: 20px 20px;
  justify-content: space-between;
}

button:hover {
  cursor: pointer;
}