@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
}

.header-bar {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  justify-content: space-between;
}

.background {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headline {
  background-image: url("./Images/header-shapes\ mobile.png");
  background-size: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  position: absolute;
  width: 375px;
  gap: 12px;
}

.cheers-txt {
  font-family: "Poppins", sans-serif;
  width: 300px;
  min-height: 150px;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.Greetings-txt .main-headline-txt {
  width: 327px;
  min-height: 192px;
}

.Greetings-txt h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.main-headline-txt p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #481060;
  width: 327px;
}

.Logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: purple;
  font-weight: bolder;
  font-size: 20px;
  line-height: 28vh;
}

.connect .small-txt {
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: aqua;
  font-size: medium;
  border: none;
}

.media-Images ul {
  list-style: none;
  flex-direction: row;
  display: flex;
  width: 200px;
  padding: 20px 20px;
  justify-content: space-between;
  gap: 5px;
}
